<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <context:annotation-config/>
   <context:component-scan base-package="com.truetera"/>

  <bean id="clientPacketFactory"
        class="com.truetera.services.packets.ClientPacketFactory">
	<property name="opcodesPropsFile"><value>client_opcodes.properties</value></property>        
	<property name="packetsPackage"><value>com.truetera.network.packets</value></property>  
  </bean>         
  
    <bean id="serverPacketFactory"
        class="com.truetera.services.packets.ServerPacketFactory">
	<property name="opcodesPropsFile"><value>server_opcodes.properties</value></property>   
	<property name="packetsPackage"><value>com.truetera.network.packets</value></property>   
	     
  </bean>

</beans>